Repository netway-devops-labs/github-action-basic-laravel-cicd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @netway-devops-labs/developer, @netway-devops-labs/backend, @netway-devops-labs/frontend, @netway-devops-labs/ui

.github/CODEOWNERS:

# choose reviewer in this team when someone opens a pull request. 
* @netway-devops-labs/developer
*.js @netway-devops-labs/backend
*.php @netway-devops-labs/frontend
*.tpl @netway-devops-labs/ui @netway-devops-labs/backend @netway-devops-labs/frontend
*.html @netway-devops-labs/ui
*.css @netway-devops-labs/ui
*.scss @netway-devops-labs/ui
*.img @netway-devops-labs/ui

Update test.html
  test.html
Owners: @netway-devops-labs/ui

Update test.html
  test.html
Owners: @netway-devops-labs/ui

Update test.txt
  test.txt
Owners: @netway-devops-labs/developer

Update test.js
  test.js
Owners: @netway-devops-labs/backend

Update test.js
  test.js
Owners: @netway-devops-labs/backend

Update test.js
  test.js
Owners: @netway-devops-labs/backend
